[mysqld]
log-error       = /var/lib/mysql/mysqld.err
pid-file        = /var/lib/mysql/mysqld.pid

performance_schema = off 

innodb_flush_log_at_trx_commit = 2
innodb_support_xa = 0

innodb_doublewrite = 0
metadata_locks_hash_instances = 256
table_open_cache_instances = 8
query_cache_type = 0

transaction_isolation = READ-COMMITTED
skip_name_resolve
skip_external_locking
#innodb_file_per_table

slow_query_log=on
long_query_time=0.01
slow_query_log_file=/var/lib/mysql/mysqld-slow.log

general_log=off
general_log_file=/var/lib/mysql/mysqld-query.log
