<h3>public memos</h3>
<p id="pager">
  recent <%= page * 100 + 1 %> - <%= page * 100 + 100 %> / total <span id="total"><%= total %></span>
</p>
<ul id="memos">
<% memos.each do |memo| %>
<li>
<%== memo['title_cache'] % url_base %>
</li>
<% end %>
</ul>
